:root{
    --shire-primary: #af8053;
    --shire-secondary: #FCD7AD;
    --midcolor: #f6c28b;
}

.secondary{

    border-left: 12px solid;
    border-color: var(--midcolor);
}

h1{
    font-family: 'Ephesis', cursive;
}

.colorcard{
    background-color: var(--shire-secondary);
    opacity: .8;
}

.buttonmore{
    background-color: var(--shire-secondary); 
}
.buttonmore:hover{
    background-color: var(--shire-primary); 
}

.bgprimary{
    background: var(--shire-primary);
}

.colorsec{
    color: var(--shire-secondary);
}
.bgcolorsec{
    background-color: var(--shire-secondary);
}

.colorstart{
    color: var(--midcolor)
}

.header-primary{
    background: linear-gradient(to bottom, var(--shire-primary) 70%, transparent 100%);
}

.bgshire{
    background: linear-gradient(to top, transparent, white), url(https://images.unsplash.com/photo-1506466010722-395aa2bef877?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1330&q=80);
    background-size: cover;
}
.marform{
    margin-top: 4em;
    margin-bottom: 4em;
}

.whitebg{
    background: white;
}

.lgraybg{
    background-image: url(https://png2.cleanpng.com/sh/d0c91ef05fc7d0507e2421d44f0d71cb/L0KzQYm3U8MyN5psiZH0aYP2gLBuTgRpbV5xhARtLXBpPcXvhb1zcZ9si59wYX7ncb3tTgNifaN0hp9yc3nvdMb5Tf9vbV53Rd54cnSwf7e0lPhmNaNuhtl8LUXkc4G7UsFlOZRrfaQ8LkW5SYSBVsI0OWY3Sqc9OUK6R4K4WMgveJ9s/kisspng-the-lord-of-the-rings-gandalf-sauron-isildur-one-r-lord-of-the-rings-5ac0421d1cfe23.5693862315225492771188.png);
    background-size: cover;
    min-height: 30em;

}

p1{
    font-size: 1.5em;

    font-style: italic;
}
p2{
    font-size: 1em;

    font-style: italic;
}
p3{
    font-size: 1.5em;

    font-style: italic;
}
p4{
    font-size: 1em;

    font-style: italic;
}

.bprim{
    border-color: var(--shire-primary);
    
}

.bgtransp{
    background-color: transparent;
    border-color: transparent;
}

.mtop {
    margin-top: 5em;
    margin-left: 5em;
}

.mtxt2 {
    margin-top: 14em;

}

.mbot {
    margin-left: 5em;
}

.imground{
    border-radius: 2.5%;
}


.cardspill{
    position: absolute;
    top: 50em;
    right: 8rem;
    width: auto;
    height: auto;
}
.whcardcenter{
    width: 27em;
    height: 25em;
}
.whcardsides{
    width: 17em;
    height: 15em;
}
.cardsbot{

    border-style: solid;
    box-shadow: 2px 3px 6px black ;
    border-top: 2px black;
    border-left: 2px black;
    border-radius: 3%;

}
.pdcard{
    padding-top: 5em;
}

.pdcardcen{
    padding-bottom: 5em;
}

.progressbar1 {
    width: 350px;
    height: 20px;
    background-color: #df9d5f;

  }
  .progressbar2 {
    width: 400px;
    height: 20px;
    background-color: #d6a170;

  }
  .progressbar3 {
    width: 330px;
    height: 20px;
    background-color: #a88665;

  }
  .progressbar4 {
    width: 370px;
    height: 20px;
    background-color: #c5a78c;

  }
  .progressbar5 {
    width: 470px;
    height: 20px;
    background-color: #f1c69f;
  }

  .marg3{
      margin-top: 5em;
      margin-bottom: 5em;
      padding-left: 2em;
      padding-right: 4em;
    justify-self: center;
  }

  .pad{
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .bgbotrow{
    background: linear-gradient(to top, transparent, white), url(https://images.squarespace-cdn.com/content/v1/53bacd42e4b0330a35101bf3/1630203122000-7B1XE084D83RHKU0SSFC/BellaMaven.ZakasPhotography.about-mountains-01.png);
    background-size: cover;  
      height: 30em;
  }

  .ptlast{
      padding-top: 7em;
  }

  @media only screen and (max-width: 768px) {
        
    .bgshire{
        background-color: lightgray;
        background: lightgray
    }
    .bodybg{
        background: lightgray;
    }
    .marform{
        margin-top: .5em;
        margin-bottom: .5em;
    }
    .mtop {
        margin-top: 0em;
        margin-left: 0em;
    }

    
    p1{
    display: none;
    }
    p2{
    display: none;
    }
    .cardspill{
    position:inherit;
    margin-top: 2em;
    }
    .card{
    margin-bottom: 1em
    }
    .mg{

    max-width:100%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
 
    }

    .mform{
    max-width:100%;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;

    }
    .mtxt2 {
     margin-top: 1em;
        
    }
    .pad{
    padding-top: 3em;
    padding-bottom: 0;
    }
    .whcardcenter{
        width: 20em;
        height: 20em;
    }
    .whcardsides{
        width: 20em;
        height: 15em;
    }
    .ptlast{
        padding-top: 2em;
    }
    }